doctype html
html(style="height:100%")
    head
        if vm !== undefined
            title= vm.title
        //If OG properties are defined they will be added to head/meta
        if vm !== undefined && vm.og !== undefined && vm.og.url !== undefined
            meta(property='og:url' content='#{vm.og.url}')
        if vm !== undefined && vm.og !== undefined && vm.og.title !== undefined
            meta(property='og:title' content='#{vm.og.title}')
        if vm !== undefined && vm.og !== undefined && vm.og.image !== undefined
            meta(property='og:image' content='#{vm.og.image}')
        if vm !== undefined && vm.og !== undefined && vm.og.description !== undefined
            meta(property='og:description' content='#{vm.og.description}')
        link(rel='stylesheet' href='/vendors.css')
        link(rel='stylesheet' href='/main.css')
    body(style="font-family:'Roboto', sans-serif")
        div(class='column sv-paper-main-background')
            .bgc-svet-700
                include header/header-social
            .card.sv-paper-toolbar-background
                include header/header
            div(style='width:1000px;margin:0px auto;height:100%;min-height:1200px' )
                div(class='row' style="margin:0px")
                    .col-xs-10
                        .row
                            .col-xs-3(style="padding:0px")
                                .pt.pb
                                    include menu/left-nav
                            .col-xs-9
                                block content
                    .col-xs-2(style="padding:0px")
                        include menu/right-nav
