doctype html
html(style="height:100%")
    head
        if vm !== undefined
            title= vm.title
        //If OG properties are defined they will be added to head/meta
        if vm !== undefined && vm.og !== undefined && vm.og.url !== undefined
            meta(property='og:url' content='#{vm.og.url}')
        if vm !== undefined && vm.og !== undefined && vm.og.title !== undefined
            meta(property='og:title' content='#{vm.og.title}')
        if vm !== undefined && vm.og !== undefined && vm.og.image !== undefined
            meta(property='og:image' content='#{vm.og.image}')
        if vm !== undefined && vm.og !== undefined && vm.og.description !== undefined
            meta(property='og:description' content='#{vm.og.description}')
        link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    body(style="font-family:'Roboto', sans-serif" ).container
        include header/header
        div
            block content

        include footer/footer


