.card.bgc-grey-50(class='pb++ pt+')
    .fs-display-2.text-center.tc-grey-800(class='mb mt+') Find your dream home
    form.mt(layout="column" name="searchForm" id="searchForm"  novalidate sv-form-val class='ml mr' ng-submit='runSearch(query)')
        div(layout='row' class='pl pr mb+ mt' layout-align="center center")
            input.btn.btn--l.btn--raised.ml.mr(ng-class='{"bgc-red-700 tc-red-50":query.saleRent=="sale", "btn--red":query.saleRent=="sale", "btn--blue":query.saleRent=="rent","btn--raised":query.saleRent=="rent"}'  value='Sale'   flex="" ng-click='saleRent("sale")'  lx-ripple="" type='button' name='sale')
            input.btn.btn--l.btn--raised.ml.mr( ng-class='{"bgc-red-700 tc-red-50":query.saleRent=="rent", "btn--red":query.saleRent=="rent", "btn--blue":query.saleRent=="sale", "btn--raised":query.saleRent=="sale"}'  lx-ripple='' value='Rent'  flex=""  ng-click='saleRent("rent")'  type='button'  name='rent')
        div(layout='row' layout-sm="column" class="pl+ pr+")
            md-autocomplete(flex="" class="mb"
            md-selected-item="selectedItem"
            md-autofocus='true'
            md-min-length='1'
            md-autoselect='true'
            md-search-text-change="searchTextChange(query.address)"
            md-search-text="query.address"
            md-selected-item-change="selectedItemChange(item)"
            md-items="item in querySearch(query.address)"
            md-item-text="item.display"
            placeholder="Street, City, State")
                md-item-template()
                    span(md-highlight-text="query.address" md-highlight-flags="^i") {{item.display}}
                //md-not-found
                //    span No matches found.
            button.btn.btn--m.btn--red.btn--raised.bgc-red-700.mb(lx-ripple='' style="padding-left:26px;padding-right:26px" flex-sm="" flex-order-sm="1")
                i.fa.fa-search.fa-fw &nbsp
                | Search
