form.bgc-grey-200(layout="column" name="searchForm" id="searchForm"  novalidate ng-show='!isBookMarkState')
    md-radio-group.fs-body-1(ng-model='query.saleRent' class="md-primary" layout="row")
        md-radio-button(style="display:inline-block" value="sale")
            | For Sale
        md-radio-button(style="display:inline-block" value="rent" )
            | For Rent
    div.ml.mr
        h4.tc-blue-800 Location:
        div(layout='row' layout-align="center center")
            div(class="mt"  flex="")
                md-autocomplete(class="mb"
                md-selected-item="selectedItem"
                md-autofocus='true'
                ng-keydown='typed()'
                sv-auto-complete=''
                md-min-length='1'
                md-autoselect='true'
                md-search-text-change="searchTextChange(query.address)"
                md-search-text="query.address"
                md-selected-item-change="selectedItemChange(item)"
                md-items="item in querySearch(query.address)"
                md-item-text="item.display"
                placeholder="Street, City or Zip")
                    md-item-template()
                        i.fa.fa-map-marker.tc-grey-500.fa-fw.mr
                        span(md-highlight-text="query.address" md-highlight-flags="^i") {{item.display}}
            div
                button.btn.btn--l.btn--red.btn--raised.bgc-red-700(lx-ripple=''  ng-click='runSearch(query)')
                    i.fa.fa-search.fa-fw &nbsp
    div(layout='row' layout-align="center center")
        .ml(flex="")
            md-input-container(style="margin-top:0px")
                label Max Price
                input(ng-model='query.maxPrice' name='maxPrice')
    div(layout='row')
        div
            h4.ml.mr.fw-500 Property Type:
            md-radio-group(ng-model='query.type' class="md-primary")
                md-radio-button.fs-caption(ng-value='t.$value.toLowerCase()', ng-repeat='t in types')
                    span {{t.$value}}
        div(layout='column')
            h4.ml.mr.fw-500 Bedrooms:
            div.ml.fs-caption
                md-checkbox.md-warn.md-align-top-left(ng-checked='exists(0,query.bedrooms)' ng-click='toggle(0,query.bedrooms)')
                    | Studio
                    br
                md-checkbox.md-warn.md-align-top-left(ng-checked='exists(1,query.bedrooms)' ng-click='toggle(1,query.bedrooms)')
                    | 1 Bed
                    br
                md-checkbox.md-warn.md-align-top-left(ng-checked='exists(2,query.bedrooms)' ng-click='toggle(2,query.bedrooms)')
                    | 2 Beds
                    br
                md-checkbox.md-warn.md-align-top-left(ng-checked='exists(3,query.bedrooms)' ng-click='toggle(3,query.bedrooms)')
                    | 3 Beds
                    br
                md-checkbox.md-warn.md-align-top-left(ng-checked='exists(4,query.bedrooms)' ng-click='toggle(4,query.bedrooms)')
                    | 4 & more
                    br
    md-divider(ng-show='query.saleRent=="rent"')
    //div(ng-show='query.saleRent=="rent"')
    //    h4.ml.mr Pets:
    //    div.fs-caption(layout='row')
    //        md-checkbox.md-warn.md-align-top-left(ng-model='query.cats', aria-label='Checkbox 2', ng-true-value="'yup'", ng-false-value="'nope'")
    //            | Cats
    //            br
    //        md-checkbox.md-warn.md-align-top-left(ng-model='query.dogs', aria-label='Checkbox 3', ng-true-value="'yup'", ng-false-value="'nope'")
    //            | Dogs
    //    br
    button.btn.btn--m.btn--red.btn--raised.bgc-red-700.mb(lx-ripple='' ng-click='runSearch(query)')
        i.fa.fa-search.fa-fw &nbsp
        span Run Search

