form(layout="column" id="reviewForm" name="reviewForm" novalidate sv-form-val)
    div(class="ml+ mr+")
        input-stars.tc-orange-500.fs-title(max='5',
        list-class="shiny-list",
        icon-full='fa-star',
        icon-base='fa fa-fw',
        icon-empty='fa-star-o',
        icon-hover='hover',
        ng-model='evaluation.rating' required)
    div(class="ml+ mr+")
        lx-text-field
            textarea(ng-model='evaluation.comment' aria-label="text" type="text" cols="200")
    div(class="ml+ mr+")
        button.btn.btn--s.btn--blue.btn--raised(lx-ripple='' ng-click='saveRating(evaluation)' ng-disabled="reviewForm.$pristine")
            i.fa.fa-save.fa-fw
            span.ml Save


