mixin one-broker-about(broker,avatar,phone,fax , defaultBrokerTitle)
    .row
        .col-sm-4
            .row
                div(class='col-sm-5')
                    img.thumbnail(src="#{broker.pic || avatar}" style="width:120px;height:auto")
                div(class='col-sm-7')
                    h3 !{broker.fName} !{broker.lName}
                    h4 !{broker.title || defaultBrokerTitle}
                    p Active Listings: !{broker.countSale}
                    p Languages: !{broker.languages}
        .col-sm-6
            h3 Contact Info:
            p Direct: !{phone}
            p Cell: !{phone}
            p Office: !{phone}
            p Fax: !{fax}
    .row.thumbnail(style="margin:4px")
        if (broker.accreditation)
            .row
                .col-xs-6
                    p
                        strong Accreditation: &nbsp
                        span !{broker.accreditation}
                    p
                        strong Years of experience: &nbsp
                        span !{broker.yearsexperience}
                    p
                        strong Specialities: &nbsp
                        span !{broker.specialities}
                    p
                        strong Areas Served: &nbsp
                        span !{broker.areasserved}

